streamlit
huggingface-hub
hf-transfer
sentence-transformers
scikit-learn
numpy
python-dotenv
pytest
pre-commit
black
ruff
langchain
langchain-community
langchain-core
langchain-chroma
langchain-openai
langchain-ollama
langgraph
chromadb
ipython
pypdf
langsmith
ollama